#backdrop {
    background-color: #FAFAFA
}
#headerdiv {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}
#frontpagename {
    background-color: #FFFFFF;
    float: left;
    text-align: center;
}
.container {
    background-color: #FAFAFA;
    height: 500px;
    width: 960px;
    margin: 0 auto;
}
#aboutmetitle {
    padding-left: 50px;
}
img {
    height: 300px;
    width: 400px;
    margin-right: 50px;
    margin-left: 75px;
}

#aboutlink {
    background-color: #FFFFFF;
    height:50px;
    width: 90px;
    float: right;
    font-size: 24;
    color: black;
    text-align: center;
}
#portfolio {
    background-color:#FFFFFF;
    height: 50px;
    width: 90px;
    float: right; 
    font-size: 24;
    color: Black;
    text-align: center; 
}
#contact {
    background-color: #FFFFFF;
    height:50px;
    width: 90px;
    float: right;
    font-size: 24;
    color: black;
    text-align: center;
}
#headshot {
    Height: 23%;
    Width: 17%;
    float: left;
}
 #firstparagraph {
     font-size: 16;
 }
 #secondparagraph {
     font-size: 16;
 }
 #footerbar {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 45px;
     border: 15px 0px 0px 0px;
     background-color: grey;
     border-style: solid;
     border-width: 15px 0px 0px 0px;
     border-color: aqua;
 }
#imagediv{
    
}
Body{
    background-color:#FAFAFA
}